---
import LinkMenuItem from "./LinkMenuItem.astro";
const { logoSrc, homeTextLabel, showLabel } = Astro.props;
---

<header
    class="navbar z-50 bg-base-200/70 backdrop-blur-sm backdrop-saturate-350 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"
>
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">
            {
                showLabel === true ? (
                    <img src={logoSrc} alt="" class="h-10" />
                    <span>{homeTextLabel}</span>
                ) : (
                    <img src={logoSrc} alt={homeTextLabel} class="h-10" />
                )
            }
        </a>
    </div>
    <div class=" ">
        <div class="flex justify-between items-center h-16">
            <nav class="hidden md:flex items-center gap-8">
                <slot name="menu-items">
                    <LinkMenuItem label="Início" href="/" />
                    <LinkMenuItem label="Sobre Nós" href="/sobre" />
                    <LinkMenuItem label="Atividades" href="/atividades" />
                    <LinkMenuItem label="O nosso lar" href="/nosso-lar" />
                </slot><button class="btn btn-primary"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        viewBox="0 0 256 256"
                        class="w-4 h-4"
                        ><path
                            d="M178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40ZM128,214.8C109.74,204.16,32,155.69,32,102A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,155.61,146.24,204.15,128,214.8Z"
                        ></path></svg
                    >Doar</button
                >
            </nav><button
                class="md:hidden p-2 text-foreground"
                aria-label="Toggle menu"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                    class="w-6 h-6"
                    ><path
                        d="M140,180a12,12,0,1,1-12-12A12,12,0,0,1,140,180ZM128,72c-22.06,0-40,16.15-40,36v4a8,8,0,0,0,16,0v-4c0-11,10.77-20,24-20s24,9,24,20-10.77,20-24,20a8,8,0,0,0-8,8v8a8,8,0,0,0,16,0v-.72c18.24-3.35,32-17.9,32-35.28C168,88.15,150.06,72,128,72Zm104,56A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"
                    ></path></svg
                ></button
            >
        </div>
    </div>
</header>
<style>
    header.navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
</style>
